@import "./varibles/_varibles.scss";


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    // background-color: $background_main;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: rgb(171, 166, 248);
    background: linear-gradient(95deg, rgb(26, 33, 36) 0%, rgb(48, 47, 47) 100%);
}


// Header / Navbar decotaion
// ! Will change at sometime
header {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 3%;
    top: 0;
    left: 0;

    background-color: $background_main;

    li,
    a,
    button {
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        font-size: 1rem;
        color: $text_main;
        text-decoration: none;
        border: none;
    }

    .logo {
        cursor: pointer;
        color: $text_lookAtMe;
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        font-size: xx-large;
        margin-right: auto;

    }

    .nav_links {
        list-style: none;

        li {
            display: inline-block;
            padding: 0 20px;

            a {
                transition: all 0.3s ease 0s;

                &:hover {
                    color: $text_hover;

                }
            }
        }
    }

    button {
        margin-left: 20px;
        padding: 9px 25px;
        background-color: $button_color;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;

        &:hover {
            background-color: rgba($color: $button_color, $alpha: .8)
        }

    }
}

.game_card{
    width: 100%;
    height:100vh; 
    // center this

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .background_image{
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .card{
        width: 80%;
        height: 80vh;
        background: white;

        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 30px;
        background: url("../images/main_game.jpg") no-repeat center center;
        background-size:auto;
        color: white;
        border-radius: 30px;


        .card_content{
            display: flex;
            flex-direction: column;
            background: rgba($color: #000000, $alpha: .1f);
            .texts {
                
                h3 {
                    font-size: 5rem;
                    font-weight: 600;
                    margin-bottom: 20px;
                }
            
                p {
                    font-size: 2rem;
                    font-weight: 400;
                    margin-bottom: 20px;
                }
            }
            
            .buttons {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                button{
                    background: none;
                    font-size: 2em;
                    width: 11.5rem;
                    height: 5rem;
                    color: white;
                    border: 3px solid white;
                    cursor:pointer;
                }
            }
        }
    
    }
}
.more_card{
    width:100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;

    h2{
        font-size: 3rem;
        font-weight: 600;
        margin-bottom: 20px;
        text-align: center;
    }

    .more_box{
        width:80%;
        height: 100%;
        display: flex;
        background-color: white;
        margin: 2rem 2rem;

        border-radius: 30px;

        .texts {
            color: black;
            text-align: center;
            align-self: center;
            width: 50%;
        
            h3 {
                font-size: 2rem;
                font-weight: 600;
                margin-bottom: 20px;
            }
        
            p {
                font-size: 1.5rem;
                font-weight: 400;
                margin-bottom: 20px;
            }
        
            button {
                font-size: larger;
                background: white;
                border-radius: 5px;
                padding: 10px;
                margin-top: 10px;
                margin-bottom: 10px;
                filter: drop-shadow(5px 5px 1px black);
                cursor: pointer;
            }
        }
    }
    img{
        width: 50%;
        height: 100%;
        object-fit: 100%;
        border-radius: 30px;
        align-self: center;
    }

    #Humita{
        img{
            background: url("../images/Heading/SVG/background.svg");
            background-repeat: no-repeat;
            background-size: 100%;
        }
    }
    
}



@media (max-width: 961px) {
    
    .more_card{
        height: 200vh;
    }
    .card{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .more_box{
        flex-direction: column;
        img{
            width: 100%;
            height: 60%;
            margin-top: 10px;
        }
        // Change the text sizes
        .texts{
            min-width: 100%;
            h3{
                font-size: 3rem;
                font-weight: 600;
                margin-bottom: 20px;
                margin: 0px;
            }
            p{
                font-size: 1rem;
                font-weight: 400;
                margin:0px;
            }

            button{
                margin: 15px 0px;
            }
        }
    }
    
}
@media (max-width: 648px) {
    
    img {
        box-sizing: border-box;
        max-width: 300px;
        max-height: 300px;
    }
    header{
        .logo{
            display: none;
        }
    }
}
