@import "./varibles/_varibles.scss";

*{
    box-sizing:  border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
   // background-color: $background_main;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background: rgb(171, 166, 248);
    background: linear-gradient(95deg, rgb(26, 33, 36) 0%, rgb(48, 47, 47) 100%);
}


// Header / Navbar decotaion
// ! Will change at sometime
header{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    padding:1rem 3%;
    top: 0;
    left: 0;

    background-color: $background_main;

    li, a, button
    {
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        font-size: 1rem;
        color: $text_main;
        text-decoration: none;
        border: none;
    }

    .logo{
        cursor: pointer;
        color: $text_lookAtMe;  
        font-family: 'Roboto', sans-serif;
        font-weight: 600; 
        font-size: xx-large;
        margin-right: auto;

    }
    .nav_links {
        list-style: none;
        li {
            display: inline-block;
            padding: 0 20px;
    
            a {
                transition: all 0.3s ease 0s;
    
                &:hover {
                    color: $text_hover;
    
                }
            }
        }
    }
    
    button {
        margin-left: 20px;
        padding: 9px 25px;
        background-color: $button_color;
        border: none;
        border-radius: 50px;
        transition: all 0.3s ease 0s;
        
        &:hover {
            background-color: rgba($color: $button_color, $alpha: .8)
        }
    
    }
}

.introduction{
    width: 100%;
    height: 100vh;
    margin-bottom: 3rem;
    
    .intro_wrapper{
        width: 100%;
        height: 100%;


        .intro_image{
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: -1;
                padding-bottom: 30px;
            
                filter: brightness(0.3);
            }
        }
        
    
        .intro_texts{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            text-align: center;

            h1{
                font-size: 3rem;
                font-weight: 600;
                color: $text_main;
                text-transform: uppercase;
                letter-spacing: 2px;
                margin-bottom: 1rem;
            }

            p{
                font-size: 1.2rem;
                font-weight: 400;
                color: $text_main;
                text-transform: uppercase;
                letter-spacing: 2px;
                margin-bottom: 1rem;
            }
            button{
                font-size: 1.2rem;
                font-weight: 600;
                color: $text_main;
                text-transform: uppercase;
                letter-spacing: 2px;
                margin-bottom: 1rem;

                padding: 1rem 4rem;
                border-radius: .5rem;
                background-color: rgba($color: #000000, $alpha: 0);
                border: 3px solid white;
            }
        }
    }
    
}

.team_intro{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
    .team_intro_header{
        color: $text_main;
        font-size: 3rem;
        align-self: center;
        text-align: center;
        position: relative;

        margin: 0 30px;
    }
    .thai, .uyen, .thinh{
        display: flex;
        width: 100%;
        height: 100vh;
        text-align: right;
        color: $text_main;
        
        &:nth-child(odd){
            flex-direction: row-reverse;
            text-align: left;
        }
        
        img{
            border: 3px solid white ;

            border-radius: 30px;
            align-self: center;

            width: 40%;
            height: 80%;            

        }
        .texts{
            align-self: center;
            margin: 0 30px;
            font-size: x-large;
        }   
    }
    .down_arrow{
        color: $text_lookAtMe;
        font-size: 6.9em;
        text-align: right;
        align-self: right;            
    }

}


.scroll_to_top{
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 999;



    button{
        padding: .5rem 3rem;
        border-radius: 25px;
        background-color: coral;
        font-size: large;
        font-weight: 500;
        color: white;
        border: none;

        cursor: pointer;

    }
}



footer{
    width: 100vw;
    display: block;
    overflow: hidden;
    padding: 70px 0px;
    box-sizing: border-box;
    background-color: $background_main;

    .inner_footer {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: 100%;

        .logo_container{
            width: 20%;
            float: left;
            height: 100%;
            display: block;
            justify-content: center;
            align-items: center;
            display: flex;

            img{
                width: 200px;
                height: auto;
                align-self: center;
            }
        }
        .footer_third{
            width: calc(21.6666666667% - 20px);
            margin-right: 10px;
            float: left;
            height: 100%;

            &:last-child{
                margin-right: 0;

            }


            h1 {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 1.2em;
                font-weight: 600;
                color: $text_hover;
                display: block;
                width: 100%;
                margin-bottom: 20px;
                text-transform: uppercase;
                
            }
            a{
                font-family: Arial,
                Helvetica,
                sans-serif;
                font-size: 1em;
                font-weight: 200;
                color: $text_main;
                display: block;
                width: 100%;
                padding-bottom: 5px;
            }
            p{
                font-family: Arial,
                Helvetica,
                sans-serif;
                font-size: 1em;
                color: $text_main;
                display: block;
                width: 100%;
                padding-bottom: 5px;
            }

            li{
                display: flex;
                justify-content:right;
                pad: 0 5px;
                font-size: 20px;
            }
            span{
                color: white;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 16px;
                width: 100%;
                display: block;
                padding-top: 20px;
            }
        }
    }
}




@media(max-width: 545px) {
    header {
        .logo {
            display: none;
        }
    }    
    .thai,
    .uyen,
    .thinh {
        flex-direction: column;
        img {
            display: none;
            
        }
    
        .texts {
            text-align: center;
            font-size: xx-large;
        }
    }
}

@media(max-width: 600px) {
    footer{
        .inner_footer{
            width: 90%;

            .logo_container, .footer_third{
                width: 100%;
                margin-bottom: 30px;
            }
        }
    }
}